* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
    background: #c7c7c7;
    color: #0057d9;
    margin: 0;
    padding: 0;
    margin-top: 0;
    line-height: 1.6;
  }

  :root{
    --tamanho-header:80px;
  }

  
  .header{
    height: var(--tamanho-header);
    border-bottom: 2px solid #0057d9;
    position: fixed;
    background-color: whitesmoke;
    width: 100%;
    top: 0;
}

  .container{
    display: flex;
    width: 80%;
    margin: auto;
  }

  .header .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .navbar{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #0057d9;
  }
  
  .header a{
    text-decoration: none;
    color: #0057d9;
  }

  .agora {
    font-weight: 800;
  }
  
  main {
    max-width: 80%;
    margin: 10px auto;
    padding: 40px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    margin-top: 90px;
  }
  .all{
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
  }

  section.info{
    text-align: center;
    font-size: 18px;
  }

  section.dadosOperacao{
   max-width: 45%;
  }
  section.dadosOperacao input{
    width: 350px;
  }

  section.resultados{
    max-width: 45%;
    margin-right: 100px;
    margin-top: 30px;
  }
  
  input {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 0.7em 1.5em;
    background: #0057d9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #0057d9;
    color: white;
    text-align: center;
    padding: 1.10em;
    height: 19%;
  }

  /*Parte de Login e cadastro*/
  
  /*Login (Gui silva)*/

section.tela-login{
  padding: 60px;
  margin-top: 60px;
  height: 90vh;
}
.login{
  background-color: #0057d9;
  padding: 20px;
}
.login #tituloOculto{
  opacity: 100%;
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
.corpo-login {
  display: flex;
  height: 500px;
  width: 100%;
  border: solid 1px #0057d9;
  border-radius: 15px;
  box-shadow: 0px 8px 8px #0057d9;
  overflow: hidden;
}
.imagem-login h1{
  position: absolute;
  color: white;
  font-weight: 500;
  font-size: 70px;
  margin-top: -100px;
}
.imagem-login p{
  position: absolute;
  color: white;
  margin-top: 100px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.imagem-login span{
  display: flex;
  font-size: 17px;
  font-weight: 300;
}
.imagem-login {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-login img {
  width: 100%;
  height: 100%;
}
.texto-login {
  width: 50%;
  padding: 40px;
  background-color: white;
}
.texto-login label{
  display: block;
  color: #0057d9;
  font-size: 20px;
}
.texto-login h1{
  font-size: 50px;
  color: #0057d9;
}
.texto-login input{
  height: 40px;
  width: 400px;
  margin-bottom: 10px;
  border: 1px solid #0057d9;
  border-radius: 5px;
  padding: 10px;
  font-size: 17px;
  border-color: #002f5f
}

input:focus {
  border: 2px solid #003366;
  box-shadow: 0 0 5px 2px #0057d9;
  outline: none;
}

.imagem-login button{
  position: absolute;
  width: 400px;
  height: 60px;
  font-size: 20px;
  margin-top: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
  margin-top: 280px;
}
.imagem-login button:hover{
  background-color: #0057d9;
  color: white;
  border: 1px solid #0057d9;
  transform: scale(1.05);
}
.imagem-login a{
  position: absolute;
  text-align: center;
  margin-left: 0px;
  margin-top: 400px;
  color: white;
}

/*Cadastro (Gui silva)*/

.corpo-cadastro {
  display: flex;
  height: 550px;
  width: 100%;
  border: solid 1px #0057d9;
  border-radius: 15px;
  box-shadow: 0px 8px 8px #0057d9;
  overflow: hidden;
}